<br />
<div class="field-title">
    Comments   
</div>

@if(comments is null)
{    
}
else
{
    <div class="comments-container">
        @foreach(Comment c in comments)
        {
            <IncidentComment comment="@c"></IncidentComment>
        }
    </div>
    <NewComment></NewComment>
}

@code {
    [Parameter]
    public List<Comment> comments { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }

}
