
<div class="field-title">
    Comments   
</div>

@if(comments is null)
{    
}
else
{
    <div class="comments-container">
        @foreach(Comment c in comments)
        {
            <IncidentComment comment="@c"></IncidentComment>
        }
    </div>
    <NewComment incidentId="@incidentId" commentAdded="@commentAdded"></NewComment>
}

@code {
    [Parameter]
    public List<Comment> comments { get; set; }

    [Parameter]
    public string incidentId { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {        
    }

    void commentAdded(Comment comment)
    {
        comments.Insert(0, comment);
        StateHasChanged();
    }

}
