<div class="new-comment">
<textarea class="line-textbox" placeholder="Type comment">

</textarea>
    <div class="new-comment-actions">
         <span>Cancel</span>
        <button class="btn btn-md bg-success text-white">
            Comment
        </button>
       
    </div>

</div>
@code {

}
