<div class="title-container">
    <div class="incident-title">
        <div class="title-text-div">            
               <i class="material-icons" @onclick="toggleEdit">edit</i>
            <span> @title </span>
        </div>
        @if (editOn)
        {
            <textarea @bind="newTitle" class="line-textbox"></textarea>
            <p class="edit-buttons">
                <i class="fa fa-close" title="Cancel changes" @onclick="cancel"></i>
                <i class="fa fa-check " title="Save changes" @onclick="update"></i>                                
            </p>
        }

    </div>

</div>

@code {
    [Parameter]
    public string incidentId { get; set; }
    [Parameter]
    public string title { get; set; }


    private bool editOn = false;
    private string newTitle;

    private void toggleEdit()
    {
        editOn = !editOn;
        if(string.IsNullOrEmpty(newTitle))
            newTitle = title;        
    }

    private async Task update()
    {
        string token = await localStorage.GetItemAsync<string>("token");  
        string loggedInUser = await UserService.GetLoggedInUserId();

        bool isSuccess = await IncidentService.UpdateIncident(token, new
        {
            IncidentId = incidentId,
            Parameter = "Title",
            Value = newTitle,
            UserId = loggedInUser
        });

        if (isSuccess)
        {
            editOn = !editOn;
            title = newTitle;
        }
    }

    private void cancel()
    {
         editOn = !editOn;
    }


}
