/******************************* Shared **********************************/


.im-btn {
    background: rgb(117,32,112);
    background: linear-gradient(0deg, rgba(117,32,112,1) 0%, rgba(12,0,106,1) 88%);
    color: white;
}

.line-textbox {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    color: #34495e;
    line-height:1;
}

input, input:focus {
    border-width: 0px;
    border-bottom: 1px solid black;
    outline: 0; /* I have also tried outline:none */
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
textarea, textarea:focus {
    line-height:1;
    border-width: 0px;
    border-bottom:2px solid black;
    outline: 0; /* I have also tried outline:none */
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
select, select:focus {
    border-width: 0px;
    min-width:30px;
    text-align:center;
    border-bottom: 1px solid black;
    outline: 0; /* I have also tried outline:none */
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

textarea:focus, input:focus, select:focus {
    border-bottom: 2px solid blue;
}

textarea.medium{
    min-height:100px;
}
textarea.small {
    height: 30px;
}

.report-title {
    font-size: x-large;
    font-weight: bold;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.file-upload-container{
   /* padding: 10px 0px;*/
    position:relative;    
}
.file-upload-wrapper button {
    background-color: #0f2280;
    display: inline-block;
    color: white;
}
.file-upload-wrapper span {
    font-size: medium;
    color: #808080;

}
.file-upload-container input {
    position: absolute;
    height:100%;
    top: 30%;
    left: 8%;
   
    opacity:0;
}
/******* Calender************/
.rz-datepicker-calendar
/* Small devices  */
@media (min-width: 300px) {
    .table{
        line-height:1;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .table {
        line-height: 2;
    }
}
}

/* Computer */
@media (min-width: 1500px) {
    .table {
        line-height: 2;
    }
}
}


