.page-actions {
    display:flex;
    justify-content:space-between;
}
.search-div{
    min-width:50%;
}

.search-btn div {
    display: flex;
}


.modal-btn{
    display:flex;
}

.status-badge{
    padding:8px;
}
.status-badge.new{
    background-color:#ecc909;
}
.status-badge.inprogress {
    background-color: #5794df;
}
.status-badge.closed {
    background-color: #0cdb27;
}
.status-badge.approved {
    background-color: #0a7c19;
}

.status-badge.late {
    background-color: #c91e1e;
}
/***************  New Incidend *******************/
.modal-title {
    font-size: larger;
    color: #1a14a2;
    font-weight: bold;
}
.field-tile {    
    font-size: medium;
    color: #1a14a2;
    font-weight: bold;
    white-space: nowrap;
}