@inherits LayoutComponentBase
@*@inject Blazored.LocalStorage.ILocalStorageService localStorage*@
@inject NavigationManager _navManager

<div class="page">
  
    <div class="">
            <div class="">
            @Body
        </div>
    </div>
</div>

@code {
}
