@inherits LayoutComponentBase

<div class="page">
  @*  <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        @if (!string.IsNullOrEmpty(token))
        {
            <Navbar></Navbar>
        }

        <article class="">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }

    string token = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await localStorage.GetItemAsStringAsync("token");
            if (token == null){
                navigationManager.NavigateTo("/");              
            }
            StateHasChanged();

        }
    }

}
