
<div class="page-container">
    <div class="">
        <div id="info" class="text-muted">
            Showin from @(pageNumber*pageSize - pageSize + 1) to  
            @( pageNumber*pageSize < totalRecords? pageNumber*pageSize : totalRecords) of @totalRecords records (@totalPages pages)</div>
    </div>
    <div class="">
        <div>
            <span class="text-muted">Page Size :</span>
            <select @onchange="sizeChanged"  class="line-textbox  browser-default dropdown-custom">
                <option value="5" selected="">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="">
        <nav>
            <ul class="pagination justify-content-end">
                @if (pageNumber > 1)
                {
                    <li class="page-item"><a @onclick="movePrevious" class="page-link">Previous</a></li>
                }
                @if(pageNumber - 3 > 0)
                {
                    <li class="page-item"><span class="page-link">...</span></li>
                }
                @for(int i = 1; i<=totalPages; i++)
                {
                    var tempint = i;
                    string pageClass = tempint == pageNumber ? "page-item active" : "page-item";
                    if(tempint > pageNumber - 3 && tempint < pageNumber + 3)
                    {
                         <li class="@pageClass"><a @onclick="(num)=>numberChanged(tempint)" class="page-link"> @i </a></li>
                    }                   
                }
                @if(totalPages > pageNumber + 3)
                {
                    <li class="page-item"><span class="page-link">...</span></li>
                }
              
                @if (pageNumber < totalPages)
                {
                    <li class="page-item"><a @onclick="moveNext" class="page-link">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

@code {


    [Parameter]
    public EventCallback<dynamic> pageSizeOrNumberChanged { get; set; }

    [Parameter]
    public int pageNumber { get; set; }
    [Parameter]
    public int totalRecords { get; set; }

    [Parameter]
    public int pageSize { get; set; } = 5;

    int totalPages;


    protected override async Task OnParametersSetAsync()
    {
        totalPages = (int)Math.Ceiling( (double)totalRecords/pageSize);
    }


    private async Task sizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value.ToString());
        pageNumber = 1;
        await pageSizeOrNumberChanged.InvokeAsync(new {pSize = pageSize, pNumber= pageNumber});
    }

    private async Task numberChanged(int number)
    {
        pageNumber = number;
        await pageSizeOrNumberChanged.InvokeAsync(new {pSize = pageSize, pNumber= pageNumber});      
    }

    private async Task moveNext()
    {
        pageNumber = pageNumber + 1;
        await pageSizeOrNumberChanged.InvokeAsync(new {pSize = pageSize, pNumber= pageNumber});      
    }

    private async Task movePrevious()
    {
        pageNumber = pageNumber - 1;
        await pageSizeOrNumberChanged.InvokeAsync(new {pSize = pageSize, pNumber= pageNumber});      
    }

}
