@page "/Dashboard"

<div class="container px-8">
    <br />
    <div class="report-title">Dashboard</div>
    <br />

     <div class="">     
          <KpiBar> </KpiBar>
          <div class="row">
            <OverallWidget> </OverallWidget>
            <MostAssignedByUser> </MostAssignedByUser>
          </div>

          <div class="row">           
           <LastFiveIncidents> </LastFiveIncidents>
           <FiveOldestOpenIncidents> </FiveOldestOpenIncidents>           
          </div>

        </div>


</div>

@code {

}
