<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-col">
    <div class="kpi @ColorClass"   >
        <div class="kpi-value">@KpiValue</div>
        <div class="kpi-text">@KpiText</div>
      </div>
      
    </div>

@code {
    [Parameter]
    public string KpiText { get; set; } = "loading...";
    [Parameter]
    public string KpiValue { get; set; } = "0";
    [Parameter]
    public string ColorClass { get; set; } = "0";


}
