<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
    <div class="widget">
            <h5> Most Assigned To Users </h5>

            <div id="mostAssignedtoUsersChart"></div>
    </div>
</div>

@code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            string token = await localStorage.GetItemAsync<string>("token");
            var mostassignedtoUsersData = await DashboardService.GetMostAssignedToUsers(token);
           
            string response = new(await JS.InvokeAsync<string>("drawMostAssignedToUserChart", mostassignedtoUsersData));
          
            StateHasChanged();
        }
    }
}
