<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
    <div class="card">
          <div class="card-body">
            <h5> Most Assigned To Users </h5>
             @if (!dataAvailable)
            {
                <p class="loading-p"> Loading...</p>
            }
            <div id="mostAssignedtoUsersChart" class="@(dataAvailable ? "" :"hide" )"> </div>           
    </div>
    </div>
</div>

@code {
    bool dataAvailable = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            string token = await localStorage.GetItemAsync<string>("token");
            var mostassignedtoUsersData = await DashboardService.GetMostAssignedToUsers(token);

            if(mostassignedtoUsersData is not null)
            {
                string response = new(await JS.InvokeAsync<string>("drawMostAssignedToUserChart", mostassignedtoUsersData));
                dataAvailable = true;
            }
            StateHasChanged();
        }
    }
}
