@*<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
    <div class="widget">
        <h5> Overall</h5>
        <div id="overallChart"> </div>
    </div>
</div>*@

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
    <div class="card">
        <div class="card-body">
            <h5> Overall</h5>
            @if (newValue == "0")
            {
                <p class="loading-p"> Loading...</p>
            }
            <div id="overallChart" class="@(newValue == "0"? "hide" :"" )"> </div>
        </div>
    </div>
</div>
      

@code {

    private string newValue = "0";
    private string inProgressValue = "0";
    private string closedValue = "0";
    private string approvedValue = "0";
    private string lateValue = "0"; 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            string token = await localStorage.GetItemAsync<string>("token");
            var kpiData = await DashboardService.GetOverallWidget(token);
            if (kpiData is not null)
            {
                newValue = kpiData.New.ToString();
                inProgressValue = kpiData.InProgress.ToString();
                closedValue = kpiData.Closed.ToString();
                approvedValue = kpiData.Approved.ToString();
                lateValue = kpiData.Late.ToString();
            
                string response = new(await JS.InvokeAsync<string>("drawOverallChart", kpiData));
            }
            StateHasChanged();
        }
    }

}
